---
const { 
  title = "Default Title", 
  subtitle = "Default Subtitle", 
  image = "/default-image.jpg", 
  backgroundColor = "#3498db",
  color2 = "#3498db",
  id = ""
} = Astro.props;
---

<div class="flex" id={id}>
  <div class="education__time">
    <div class="w-10 h-10 rounded-full mt-1 overflow-hidden flex items-center justify-center translate-x-[-1px]" style={`background-color: ${backgroundColor};`}>
      {image && <img src={image} alt="Timeline icon" class="w-5/6 h-5/6 object-cover rounded-full" />}
    </div>
    <span class="education__line block h-full w-[2px] translate-x-[18px]" 
      style={`background: linear-gradient(to bottom, ${backgroundColor}, ${color2});`}></span>
  </div>
  <div class="experience__data bd-grid px-5">
    <h3 class="font-semibold mb-1">{title}</h3>
    <span class="font-light text-sm">{subtitle}</span>
    <p class="my-2 text-justify">
      <slot />
    </p>
  </div>
</div>
