---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalPublication from "@components/HorizontalPublication.astro";

const pubs = (await getCollection("publications")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
const last_pubs = pubs.slice(-5);
---

<BaseLayout title="Publications" sideBarActiveItemID="publications">
  <div>
    <div class="text-3xl w-full font-bold mb-5">My Publications</div>
  </div>

  {
    last_pubs.reverse().map((pub) => (
      <>
        <HorizontalPublication
          title={pub.data.title}
          img={pub.data.heroImage}
          desc={pub.data.description}
          journal={pub.data.journal}
          date={pub.data.pubDate}
          url={pub.data.url}
          paperUrl={pub.data.paperUrl}
          githubUrl={pub.data.githubUrl}
          bibtex={pub.data.bibtex}
          target="_self"
          badge={pub.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
